/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/

#cy {
  width: 100%;
  height: 70%;
  position: absolute;
}
#loading {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -0.5em;
  font-size: 2em;
  color: #fff;
}
#loading.loaded {
  display: none;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-color: #000D1A;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    opacity: 0.9;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

#wikiBucket {
  padding: 8px 30px 100px 32px;
}

#wikiInfo {
  padding: 8px 8px 8px 8px;
  font-size: 20px;
  color: #fff;
}

#licenseInfo {
  padding: 8px 8px 8px 8px;
  font-size: 20px;
  color: #fff;
}

#wiki_loading {
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -0.5em;
  font-size: 2em;
  color: #fff;
}
#wiki_loading.loaded {
  display: none;
}

.sidenav h1 {
  padding: 8px 8px 8px 32px;
  font-size: 30px;
  color: #fff;

}
/* The navigation menu links */
.sidenav a {
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.container {
  width: 50%;
  margin: 0 auto;
}

.bar-c {
  overflow: hidden;
  height: 30px;
  width: 40px;
  margin: 0 auto;
  position: absolute;
  cursor:pointer;
}
.bar {
  height: 1px;
  width: 3px;
  display: inline-block;
  background-color: #ffffd2;
  bottom: 0;
  position: absolute;

  &.noAnim {
    -webkit-animation: none;
    -webkit-animation-name: none;
  }

  &#bar-1 {
    left: 0;
    -webkit-animation-name: danceHeight1;
    -webkit-animation-delay: 0ms;
  }
  &#bar-2 {
    left: 6px;
    -webkit-animation-name: danceHeight2;
    -webkit-animation-delay: 300ms;
  }
  &#bar-3 {
    left: 12px;
    -webkit-animation-name: danceHeight3;
    -webkit-animation-delay: 600ms;
  }
  &#bar-4 {
    left: 18px;
    -webkit-animation-name: danceHeight4;
    -webkit-animation-delay: 900ms;
  }
  &#bar-5 {
    left: 24px;
    -webkit-animation-name: danceHeight5;
    -webkit-animation-delay: 1200ms;
  }
  &#bar-6 {
    left: 30px;
    -webkit-animation-name: danceHeight6;
    -webkit-animation-delay: 1500ms;
  }

  -webkit-animation-duration: 500ms;
  -webkit-animation-play-state: running;
  -webkit-animation-direction: alternate;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes danceHeight1 {
  from { height: 1px; }
  to { height: 22px; }
}
@-webkit-keyframes danceHeight2 {
  from { height: 1px; }
  to { height: 15px; }
}
@-webkit-keyframes danceHeight3 {
  from { height: 1px; }
  to { height: 30px; }
}
@-webkit-keyframes danceHeight4 {
  from { height: 1px; }
  to { height: 20px; }
}
@-webkit-keyframes danceHeight5 {
  from { height: 1px; }
  to { height: 15px; }
}
@-webkit-keyframes danceHeight6 {
  from { height: 1px; }
  to { height: 15px; }
}

fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}
.ghost-input, p {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 25px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom:1px solid #ddd;
}
.ghost-button {
  background-color: transparent;
  color: #fff;
  border:2px solid #ddd;
  padding:10px 30px;
  width: 100%;
  min-width: 350px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button:hover {
  border:2px solid #515151;
}
p {
  color: #E64A19;
}
